// Common Classes
.marginClear{
  margin: 0;
}

.paddingClear{
  padding: 0;
}

.left{
  float: left;
}

.clearFix{
  clear: both;
}

.transparent{
  background-color: transparent !important;
}

.alignCenter{
  text-align: center !important;
}

.blueColor{
  color: #1ac6ff;
}
